#texte
{
    font-size: 18px;
    color: #DADADA;
}

body
{
    background-image: url(https://user-images.githubusercontent.com/91782618/146815341-b4ca7662-107c-458a-8c42-2a9b55de1f3a.jpg);
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#title
{
    width: auto;
    margin-top: 20px;
    margin: auto;
    text-align: center;
}

#carte
{
    width: 900px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(27, 27, 27);
    color: #DADADA;
    text-align: center;
    align-content: center;
}

#invisible
{
    color: rgb(27, 27, 27);
    font-size: 20px;
}

#list
{
    text-align: left;
}

#lienSpot
{
    text-align: left;
    margin-left: 200px;
    color: rgb(0, 184, 0);
}

#lienDeez
{
    text-align: left;
    margin-left: 200px;
    color: rgb(241, 241, 241);
}

#lienApple
{
    text-align: left;
    margin-left: 200px;
    color: rgb(255, 255, 255);
}

#enemy
{
    background-image: url(https://user-images.githubusercontent.com/91782618/151762694-08f85fac-b539-475b-b1d8-1aac74233420.png);
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}
